doctype html
html
  head
    title=title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav.navbar.navbar-default
        div.container-fluid
          div.navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#')=title

          div#bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='/articles') All articles
                  span.sr-only (current)
              li
                a(href='/articles/add') Create article
              li
                a(href='/users') All users
                  span.sr-only (current)
              li
                a(href='/users/add') Create user
    div.container
      block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
