extends ../layout

block content
  form(method='POST', action='/articles/update')
    input#article_id(type='hidden', name='_id', value=article.get('_id'))
    div.form-group
      label(for='article_head') Article head
      input#article_head.form-control(type='text', placeholder='Article head', name='head', value=article.get('head'))
    div.form-group
      label(for='article_body') Article body
      textarea#article_body.form-control(rows=3, name='body')=article.get('body')

    button.btn.btn-primary(type='submit') Update article
