extends ../layout

block content
  each article, i in articles
    div.panel.panel-default
      div.panel-heading.clearfix
        div.btn-group.pull-right.clearfix(role='group', aria-label='actions')
          a(href='/articles/edit/' + article._id)
            button.btn.btn-default(type='submit', aria-label='Edit')
              span.glyphicon.glyphicon-pencil(aria-hidden='true') Edit
          form(method='POST', action='/articles/delete').pull-right
            input(type='hidden', name='_id', value=article._id)
            button.btn.btn-default(type='submit', aria-label='Delete')
              span.glyphicon.glyphicon-trash(aria-hidden='true') Delete
        h3.panel-title=article.head

      div.panel-body=article.body
